<!-- views/loginFailed.ejs -->

<!DOCTYPE html>
<html lang="en">

<%- include('Head.ejs', { ...loginInvalidPassMetadata, user: user }) %>

<body>
    <%- include('navbar.ejs', { user: user }) %>
    <div class="container">
        <div class="alert alert-danger mt-3">
            <h2>Invalid Password</h2>
            <p>Sorry, your login attempt was unsuccessful. Please try again.</p>
        </div>
        <a href="/login" class="btn btn-primary mt-3">Go back to login</a>
    </div>
    <%- include('Scripts.ejs') %>
</body>

</html>
